body {
  height: 100%;
  background: url('../images/banner3.jpg') rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center center;
  background-attachment: fixed;
  font-size: 1em;
}

.container {
  float: left;
  width: 66.3333333333%;
  height: 1121px;
  margin: 397px 0 0 16.83333%;
  background-color: rgb(224, 224, 224);
}